if [ -z "$K12_DIST" ]; then
    echo "ERROR: K12_DIST not defined in /etc/sysconfig/k12_dist."
    exit 1
fi
case "$K12_DIST" in
    fc8)
        export VENDORDEF="Fedora"
        export RELEASEDEF=8
    ;;
    fc9)
        export VENDORDEF="Fedora"
        export RELEASEDEF=9
    ;;
    el5)
        export VENDORDEF="EL"
        export RELEASEDEF=5
    ;;
    *)
        echo "ERROR: $K12_DIST is unsupported."
        exit 1
    ;;
esac
