[Desktop Entry]
Version=1.0
Type=Application
TryExec=ltsp-localapps
Exec=sh -c 'xprop -root -f LTSP_LOGOUT_ACTION 8s -set LTSP_LOGOUT_ACTION REBOOT && gnome-session-quit --logout'
TryExec=gnome-session-quit
Name=Restart
Name[fr]=Redémarrer
Name[el]=Επανεκκίνηση
Icon=gnome-session-reboot
Categories=System;
X-LTSP-NoChange=1
