Source: ltsp
Section: misc
Priority: optional
Maintainer: Petter Reinholdtsen <pere@debian.org>
Uploaders: Vagrant Cascadian <vagrant@freegeek.org>, Matt Zimmerman <mdz@debian.org>
Build-Depends: debhelper (>= 4), flex, bison, libpopt-dev
Standards-Version: 3.6.1

Package: ltsp-server
Depends: debootstrap, nfs-kernel-server, atftpd | tftpd-hpa, syslinux | mknbi | mkvmlinuz | aboot
Recommends: openssh-server | ssh
Suggests: dhcp3-server, sdm
Architecture: all
Description: Basic LTSP server environment
 The scripts needed to generate the client environment on a server.
 This is the basic environment depending on external a DHCP server to
 point the clients to the LTSP server.

Package: ltsp-server-standalone
Depends: ltsp-server, ltsp-utils, dhcp3-server
Architecture: all
Description: Complete LTSP server environment
 The scripts needed to generate the client environment on a server.
 This is the complete environment including a DHCP server to bootstrap
 the clients.
 
Package: ltsp-client
Depends: lsb-base, nbd-client, ldm | sdm-terminal, initramfs-tools (>= 0.11) | initrd-netboot-tools
Suggests: kernel-image-netbootable
Conflicts: ltsp-utils
Replaces: ltsp-utils
Architecture: any
Description: LTSP client environment
 The scripts needed to configure and boot an LTSP client.

Package: ldm
Depends: openssh-client | ssh, python (>= 2.4) | python2.4, python-gtk2, python-glade2,gtk2-engines-clearlooks
Architecture: any
Description: LTSP display manager
 X desktop manager asking for username and password, and setting up X
 tunneling to a server to run the X clients.
