#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# This file is public domain software, originally written by Joey Hess. 

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

DEBVER=$(shell dpkg-parsechangelog |sed -n -e '/^Version:/s/^Version: //p')
DEB_SRC_BUILD_PROG:=dpkg-buildpackage -rfakeroot -S -sa

build: build-stamp
build-stamp:
	dh_testdir

	$(MAKE) -C client/getltscfg
	cd client/ldm2-0.1; ./configure --prefix=/usr; cd -
	$(MAKE) -C client/ldm2-0.1
	cp client/ldm2-0.1/src/ldm2 client/ldm2-0.1/src/ldm
	cp client/ldm2-0.1/man/ldm2.1 client/ldm2-0.1/man/ldm.1
	cd client/ldmgtkgreet-0.1; ./configure --prefix=/usr; cd -
	$(MAKE) -C client/ldmgtkgreet-0.1

	$(MAKE) -C po update-po
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp

	-$(MAKE) -C client/getltscfg clean
	-$(MAKE) -C client/ldm2-0.1 clean
	-$(MAKE) -C client/ldmgtkgreet-0.1 clean
    
    # Using po specific Makefile to clean message catalogs
	$(MAKE) -C po clean

    # Debconf translation update
	debconf-updatepo

	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

    # Using po specific Makefile to install message catalogs
	$(MAKE) -C po install DESTDIR=$(CURDIR)/debian/ltsp-server/

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_installexamples -i
	dh_install -i -Xarch-ids
	dh_installdebconf -i	
	dh_installinit -i --no-start
	dh_installman -pltsp-server -pltsp-client-core -pldm
	dh_link -i
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir -a
	dh_testroot -a
	dh_installchangelogs -a
	dh_installdocs -a
	dh_installexamples -a
	dh_install -a
	dh_installdebconf -a
	dh_installinit -a --no-start
	dh_installinit -pltsp-client-core --name=ltsp-client-setup --no-start -u"start 32 S ."
	dh_link -a
	dh_strip -a
	dh_compress -a
	dh_fixperms -a
	dh_installdeb -a
	dh_shlibdeps -a
	dh_gencontrol -a
	dh_md5sums -a
	dh_builddeb -a

bzr-release:
	rm -rf ../ltsp-$(DEBVER)
	bzr export ../ltsp-$(DEBVER)
	(cd ../ltsp-$(DEBVER); debian/rules controlgen; $(DEB_SRC_BUILD_PROG))

controlgen:
	debian/controlgen

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install bzr-release
