[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=ltsp-cluster-info
Name=Thin client information
Name[fr]=Information sur le client léger
Icon=gnome-monitor
