[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=sh -c 'xprop -root -f LTSP_LOGOUT_ACTION 8s -set LTSP_LOGOUT_ACTION REBOOT && gnome-session-save --logout'
Name=Restart
Name[fr]=Redémarrer
Icon=gnome-session-reboot
X-LTSP-NoChange=1
