polkit.addRule(function(action, subject) {
  if (action.id == "org.freedesktop.color-manager.create-device" ||
      action.id == "org.freedesktop.color-manager.create-profile" ||
      action.id == "org.freedesktop.color-manager.delete-device" ||
      action.id == "org.freedesktop.color-manager.delete-profile" ||
      action.id == "org.freedesktop.color-manager.modify-device" ||
      action.id == "org.freedesktop.color-manager.modify-profile") {
    return polkit.Result.YES;
  }
});

polkit.addRule(function(action, subject) {
  if (action.id.indexOf("org.freedesktop.login1.power-off") == 0 ||
      action.id.indexOf("org.freedesktop.login1.reboot") == 0) {
    if (subject.isInGroup("admin")) {
      return polkit.Result.YES;
    } else {
      return polkit.Result.NO;
    }
  }
});
